


body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;

}

h1, h2, h3, h4, h5, h6 {
font-family: "Roboto", sans-serif;
    color: #2E2F42;
    background-color: #fff;
}

ul, ol {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}

.header-logo .logo-part {
    color: #2E2F42;
}

.nav-link {
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2E2F42;
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
    color: #404BBF;
}

.contacts {
    font-style: normal;
}

.contacts-link {
    color: #434455;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.hero {
    background-color: #2E2F42;
}

.hero-title {
    color: #FFFFFF;
    background-color: #2E2F42;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
}

.button {
    color: #FFFFFF;
    background-color: #4D5AE5;
    border: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: left;
    cursor: pointer;
}

.button:hover, 
.button:focus {
    background-color: #404BBF;
}

.team-subtitle,
.portfolio-subtitle,
.feature-subtitle {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: left;
    font-weight: 500;
}

p {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
}



.team-title,
.portfolio-title {
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
}

.team {
    background-color: #F4F4FD;
}

.team-subtitle,
.portfolio-subtitle {
    font-weight: 500;
}

.team-item {
    background-color: #FFFFFF;
}



.portfolio-item {
    background-color: #FFFFFF;
}

.portfolio-title {
    color 
}

.footer {
    background-color: #2E2F42;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}

.footer-logo .logo-part {
    color: #F4F4FD;
}

.footer-text {
   color: #F4F4FD;
}